body {
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}
.header {
  border-bottom: 2px solid #bcbbbb;
}
.main-image {
  width: 100%;
}
.text-muted {
  color: #bcbbbb;
  margin-bottom: 1em;
}
.text-thin {
  font-weight: 100;
}
.title-logo {
  margin-top: 20px;
  width: 8em;
  height: 8em;
  float: left;
}
.title-super {
  font-size: 35px;
}
